/* CSS FLEXBOX LAYOUT */
/* CSS FLEXBOX LAYOUT */

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
body{
    margin: 0;
}
p{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    font-weight: 400;
}
button{
    border-radius: 40px;
    border: 2px solid hsl(0, 0%, 95%);
    width: 70%;
    height: 10%;
    margin-top: 90px;
    cursor: pointer;
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;

}
.button1{
    color: hsl(31, 77%, 52%);
    background-color: hsl(0, 0%, 95%);
}
.button2{
    color: hsl(184, 100%, 22%);
    background-color: hsl(0, 0%, 95%);
}
.button3{
    color: hsl(179, 100%, 13%);
    background-color: hsl(0, 0%, 95%);
}

button:hover{
    background-color: hsla(0, 0%, 100%, 0);
    color: white;
}
h1{
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 40px;
}
img{
    width: 64px;
    height: 40px;
}
.flexbox-layout{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 95%);
    border-radius: 20px;
    /* width: 1440px; */
    height: 100vh;
}
.sedans{
    background-color: hsl(31, 77%, 52%);
    width: 210px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    padding: 50px;
    border-radius: 15px 0px 0px 15px;
}
.suvs{
    background-color: hsl(184, 100%, 22%);
    width: 210px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    padding: 50px;
    
}
.luxury{
    display: flex;
    flex-direction: column;
    width: 210px;
    height: 60vh;
    background-color: hsl(179, 100%, 13%);
    padding: 50px;
    border-radius: 0px 15px 15px 0px;
}

@media screen {

}
@media (max-width: 400px) {
    .flexbox-layout {
      background-color: red;
      /* hsl(0, 0%, 95%); */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 375px;
      height: 100vh;

    }
  }
/*
The designs were created to the following widths:
- Mobile: 375px
- Desktop: 1440px
## Colors
### Primary
Bright orange: hsl(31, 77%, 52%)
Dark cyan: hsl(184, 100%, 22%)
Very dark cyan: hsl(179, 100%, 13%)
### Neutral
Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)
Very light gray (background, headings, buttons): hsl(0, 0%, 95%)
## Typography
### Body Copy
- Font size: 15px
### Font
- Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
- Weights: 400
- Family: [Big Shoulders Display](https://fonts.google.com/specimen/Big+Shoulders+Display)
- Weights: 700 */

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */

/* CSS GRID LAYOUT */
/* CSS GRID LAYOUT */

.grid_layout{
    background-color: blue;
    height: 100vh;
}
.grid1{
    height: 35vh;
}
.grid2{
    height: 35vh;
}
.grid3{
    height: 45vh;
}
.grid4{
    height: 45vh;
}
.grid5{
    height: 45vh;
}

/* width: 170px;
height: 50vh; */